.App {
  text-align: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bun{
display: list-item;
  height: 40px; 
  width: 100px;
  margin-left: 18px;
  /* margin-top: 5px; */
  /* margin-bottom: 3px; */
}

.aalu{
  height: 20px;
  width: 130px;
}

.paneer{
  height: 35px;
  width: 135px;
  margin-left: 5px;
}
.cheese{
  margin-left: 10px;
  height: 40px;
  width: 100px;
}
.burger{
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 8px;
}

.container{
  display: flex;

  background-image: linear-gradient(rgb(236, 226, 156),rgb(241, 193, 148),rgb(198, 164, 102));

}

.tasks{
  display: flex;
  margin-left: 25%;
  align-items: center;
}

.h1{
  color: red;
}

.qty{
  background-image: linear-gradient(rgb(241, 187, 128),rgb(243, 243, 206));
}

.total{
  color: rgb(35, 33, 32);
  background-color: antiquewhite;
  margin-top: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.slice{
  margin-left: 2px;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  margin-right: 3px;
}

.button{
  height: 35px;
  width: 65px;
  border-radius: 5px;
  background: wheat;
  border-color: bisque;
}


.trapezoidA {
	border-bottom: 30px solid #cea24a;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}


.trapezoidRe{
     width: 120px; 
    height: 0; 
    border-top: 30px solid #cea24a; 
    border-left: 25px solid transparent; 
    border-right: 30px solid transparent;
}

.aalutikki{
  /* width: 100px;
  height: 0;
  border-top: #201f1e; */

  fill:rgb(143, 96, 55);
  width:120px;
}

.paneerslice{
  fill:rgb(241, 241, 234);
  width:120px;
}


.tomatoslice{
  fill:rgb(235, 35, 9);
  width:120px;
}


.cheeseslice{
  fill:rgb(237, 237, 148);
  width:120px;
}
.user{
  margin-left: 80%;
  color: #f00;
  text-shadow: #282c34;
}

.input{
  display: list-item;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 5px;
}

.main{
  background-color: bisque;
}

.register{
  display: flex;
}


.orderbutton{
  height: 35px;
  width: 105px;
  background: rgb(157, 246, 105);
  border-radius: 5px;
  color: green;
  margin-top: 15%;
  border-color: rgb(10, 206, 62);
}
